@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

#root {
  max-width: 100vw;
  margin: 0 auto;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}
