@import "vanilla-framework";
$color_1: #000000;
$font-family_1: "Ubuntu Sans", sans-serif;
$background-color_1: #EBEBEB;

.navigation__folder {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	cursor: pointer;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: $background-color_1;
	min-height: 32px;
}
.navigation__folder-tittle {
	font-size: 14px;
	color: $color_1;
	overflow-wrap: break-word;
	margin: 0;
	cursor: pointer;
	padding-top: 0;
}
.navigation__hidden-options {
	padding-left: 1.8rem;
	cursor: pointer;
}
.navigation__slected-hidden-option {
	cursor: pointer;
	font-size: 14px;
	color: $color_1;
	overflow-wrap: break-word;
	font-weight: bold;
}
.navigation__popup {
	position: absolute;
	width: auto;
	height: auto;
	border: 1px solid black;
	background-color: $background-color_1;
	z-index: 1002;
	overflow: auto;
}
.navigation__popup-tittle {
	display: flex;
	font-size: 14px;
	color: $color_1;
	overflow-wrap: break-word;
	align-items: center;
	justify-items: center;
	margin: 0;
	width: 230px;
	height: 32px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 10px;
	border-bottom: 0.5px solid lightgray;
	cursor: pointer;
}
