@mixin library-p-side-navigation {
  .p-side-navigation.is-sticky {
    font-size: 0.9rem;
    max-height: 100%;
    min-height: 100%;
    top: 1rem;

    .p-side-navigation__primary-heading {
      margin-bottom: 0.5rem;
    }

    .p-side-navigation__list {
      margin-bottom: 0.5rem;

      &::after {
        content: none;
      }
    }
  }
}
