// Colours
$ubuntu-orange: #e95420;
$mine-shaft: #333;
$persian-red: #ce2d2d;
$color-accent: $ubuntu-orange;
$theme-default-nav: dark;
$color-navigation-background: $mine-shaft;
$color-navigation-active-bar: $ubuntu-orange;

// Sizes
$grid-max-width: 100% !default;
$l-fluid-breakout-main-child-width: 74rem;
