// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Import site specific patterns and overrides
@import "pattern-side-navigation";
@include library-p-side-navigation;

body {
  min-height: 100vh;
  position: relative;
}

.content-body {
  padding-bottom: 182px;

  @media screen and (min-width: $breakpoint-large) {
    padding-bottom: 252px;
  }
}

.table-of-contents.is-sticky {
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  right: 0;
  top: 2.5rem;
}

.p-side-navigation.is-sticky {
  height: 100%;
}

.l-footer--sticky {
  bottom: 0;
  position: absolute;
}
