// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Sometimes the entire document is put in a table and it adds padding
.l-docs__main > table > tbody > tr > td {
  padding: 0;
}

// This makes the table of contents look nicer, as it nests <p> tags inside <td>
td > p {
  margin-bottom: 0;
}

// Adds some padding to the main content so it looks nicer
.l-docs__main.content {
  padding-bottom: 1.5rem;

  h1:first-of-type {
    padding-top: 1rem;
  }
}

.l-docs__sidebar {
  border-right: 1px solid var(--vf-color-border-default);
}

// Aligns the global nav to the meta info
.global-nav__dropdown-toggle {
  margin-right: 1rem;
}

// Styles to make the menu button fit with documentation layout
.p-navigation {
  .l-docs__meta {
    text-align: left;
  }
}

.p-navigation__toggle--open,
.p-navigation__toggle--close {
  margin-right: auto;
  max-width: fit-content;
}

.p-section-seclection {
  margin: 1rem 0.8rem 1rem 1.15rem;
  max-width: 13rem;
}

// XXX - can be removed once we have a custom logo&logo-title
.p-navigation__tagged-logo .p-navigation__logo-title {
  font-size: 1rem;
  line-height: 1.5rem;
}
