// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;
// Import Icons
@include vf-p-icons;
@include vf-p-icon-submit-bug;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

$increase-font-size-on-larger-screens: false;
// Override vanilla styles
body p:not([class*="p-heading--"], [class*="p-muted-heading"]) + h1 {
  padding-top: 0.55rem;
}

body {
  display: flex;
  flex-flow: column;
}

.l-docs {
  background-color: #f3f3f3;
}

// Sometimes the entire document is put in a table and it adds padding
.l-docs__main > table > tbody > tr > td {
  padding: 0;
}

.l-site {
  min-width: 100vw;
}

.l-docs__main {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.l-docs__main-search {
  padding-top: 1.5rem;
}

.l-docs__sidebar {
  background-color: #ebebeb;
  border-right: $color-mid-light;
  border-style: solid;
  border-width: 0 1.5px 0 0;
  height: auto;
  overflow: visible;
}

.p-side-navigation {
  height: auto;
  min-height: 30px;
  overflow: visible;
}

// This makes it align to the breadcrumbs
.p-side-navigation__primary-heading > a {
  padding-top: 6px;
}

.global-nav__dropdown-toggle {
  margin-right: 1rem;
}

.p-navigation__row {
  height: 100%;
}

.p-navigation__nav {
  justify-content: end;
}

.p-search-and-filter {
  display: none;

  &.is-active {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    margin: 0;
  }

  .p-search-and-filter__clear {
    display: none;
    margin: 0.8rem 0;
    padding: calc(0.2rem - 1px) 1rem;
  }

  .p-search-and-filter__search-container {
    width: 100%;
  }

  .p-search-and-filter__panel {
    display: none;
    padding: 0;
    top: calc(2.8rem + 1px);

    .p-search-and-filter__search-prompt {
      background: #fff;
      display: block;
      margin: 0;
      padding: 0.4rem 1rem;

      &:hover {
        background: #f7f7f7;
        text-decoration: none;
      }
    }

    .p-search-and-filter__search-result {
      @extend .p-search-and-filter__search-prompt;

      color: #111;
    }
  }

  .p-search-and-filter__input {
    background: #f2f2f2;
  }
}

// XXX - can be removed once we have a custom logo&logo-title
.p-navigation__tagged-logo .p-navigation__logo-title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-side-navigation__list {
  .p-side-navigation__heading--linked {
    margin-top: 1rem;
  }

  hr {
    left: 1.5rem;
    margin: 1rem 0;
    width: calc(100% - 1.5rem);
  }
}

.l-docs__subgrid {
  grid-template-columns: 21rem minmax(0,1fr) 21rem !important
}

.l-docs__meta {
  border-left: $color-mid-light;
  border-style: solid;
  border-width: 0 0 0 1.5px;
  margin-top: 70px;
  max-width: 448px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .l-docs__sticky-container {
    @extend .u-fixed-width;

    @media (min-width: calc($breakpoint-large + $l-documentation-sidebar-width)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.l-docs__footer {
  background-color: #f3f3f3;
  border-top: 1px $color-mid-light;
  border-top-style: solid;
}

.l-docs__footer-message {
  display: flex;
  flex-flow: row;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.p-notification--caution {
  background-position: 1.5rem 1.15rem;
}

.vsc-initialized {
  flex-flow: column;
}

.p-navigation {
  min-width: 100vw;
}

.p-footer__revoke {
  margin-right: 168px;
  margin-top: 5px;
}
