// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

.p-side-navigation__primary-heading {
  margin-bottom: 1rem;
}
