// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Sometime the entire document is put in a table and it adds padding
.l-docs__main > table > tbody > tr > td {
  padding: 0;
}

.l-docs__main {
  padding-bottom: 1.5rem;
}

// This makes it align to the breadcrumbs
.p-side-navigation__primary-heading > a {
  padding-top: 6px;
}

.global-nav__dropdown-toggle {
  margin-right: 1rem;
}

// XXX - can be removed once we have a custom logo&logo-title
.p-navigation__tagged-logo .p-navigation__logo-title {
  font-size: 1rem;
  line-height: 1.5rem;
}
