// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

// Import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Override vanilla styles
body p:not([class*=p-heading--]):not([class*=p-muted-heading])+h1 {
  padding-top: 0.55rem;
}

// Sometimes the entire document is put in a table and it adds padding
.l-docs__main>table>tbody>tr>td {
  padding: 0;
}

.l-docs__main {
  padding-bottom: 1.5rem;
}

// This makes it align to the breadcrumbs
.p-side-navigation__primary-heading>a {
  padding-top: 6px;
}

.global-nav__dropdown-toggle {
  margin-right: 1rem;
}

// XXX - can be removed once we have a custom logo&logo-title
.p-navigation__tagged-logo .p-navigation__logo-title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-side-navigation__list {
  .p-side-navigation__heading--linked {
    margin-top: 1rem;
  }

  hr {
    left: 1.5rem;
    width: calc(100% - 1.5rem);
    margin: 1rem 0;
  }
}

.l-docs__meta {
  .l-docs__sticky-container {
    @extend .u-fixed-width;

    padding-top: 1rem;

    @media (min-width: calc($breakpoint-large + $l-documentation-sidebar-width)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.p-notification--caution {
  background-position: 1.5rem 1.15rem;
}