.mainSidebar {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    background-color: #EBEBEB;
    min-height: 100vh;
    max-height: 100vh;
    color: #000000;
    overflow: scroll;
}
.topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    background-color: #EBEBEB;
    height: 56px;
    color: #000000;
}
.aboutTittle {
    font-size: 14px;
    color: #000000;;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: bold;
    overflow-wrap: break-word;
    margin: 0;
    cursor: pointer;
    padding-left: 5%;
    padding-top: 5%;
} 
.about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #EBEBEB;
}