@import "vanilla-framework";
@include vanilla;
$font-family_1: $font-base-family;
$background-color_1:#EBEBEB;
@include vf-p-icon-chevron;

$increase-font-size-on-larger-screens: false;

.l-docs {
	background-color: #f3f3f3;
	grid-template-columns: 344px minmax(0, 1fr) 456px;
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: right;
	width: 100%;
	background-color: $background-color_1;
	max-height: 100vh;
	color: $color-x-dark;
	overflow: auto;
}
@media (max-width: 1035px) {
	.burger-menu {
	  display: flex;
	  padding: 0.5rem;
	  margin-left: 42px;
	}
  }
.navigation__about-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	cursor: pointer;
	height: 32px;
	background-color: $background-color_1;
	width: 100%;
}
.navigation__about-tittle {
	font-size: 1rem;
	color: $color-x-dark;
	font-weight: bold;
	overflow-wrap: break-word;
	margin: 0;
	cursor: pointer;
	padding-left: 3.15rem;
	padding-bottom: 6px;
}