@import "vanilla-framework";
@include vanilla;
$color_1: $color-x-dark;
$font-family_1: $font-base-family;
$background-color_1:$color-mid-x-light;

.navigation {
	display: flex;
	flex-direction: column;
	align-items: right;
	width: 100%;
	background-color: $background-color_1;
	min-height: 100vh;
	max-height: 100vh;
	color: $color_1;
	overflow: scroll;
}
.navigation__about-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding-left: 5%;
	cursor: pointer;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: $background-color_1;
}
.navigation__about-tittle {
	font-size: 14px;
	color: $color_1;
	font-family: $font-family_1;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-weight: bold;
	overflow-wrap: break-word;
	margin: 0;
	cursor: pointer;
	padding-left: 5%;
	padding-top: 5%;
}