.navigation {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    background-color: #EBEBEB;
    min-height: 100vh;
    max-height: 100vh;
    color: #000000;
    overflow: scroll;
}
.navigation__about-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #EBEBEB;
}
.navigation__about-tittle {
    font-size: 14px;
    color: #000000;;
    overflow-wrap: break-word;
    margin: 0;
    cursor: pointer;
    padding-left: 5%;
    padding-top: 5%;
}
.navigation__popup {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: #EBEBEB;
    z-index: 1002;
    overflow: auto;
}
.navigation__hidden-options {
    padding-left: 20px;
    cursor: pointer;
}