{% extends 'base_layout.html' %}
{% block title %}Canonical Reference Library | Canonical{% endblock %}

{% block description %}
Canonical Reference Library is single source of information for all corporate knowledge with Canonical
{% endblock %}

{% block meta_copydoc %}{% endblock %}

{% block content %}
{% macro create_navigation(nav_items, previous_slug, expandable=False, expanded=False) %}
  <ul class="p-side-navigation__list" {% if expanded %}aria-expanded="true"{% endif %}>
    {% for element in nav_items %}
    <li class="p-side-navigation__item">
      {% if nav_items[element].mimeType == "document" and not nav_items[element].name|lower == "index" %}
      <a
        class="p-side-navigation__link {% if nav_items[element].children %}is-expandable{% endif %}" {% if nav_items[element].active %}aria-current="page"{% endif%}
        href="/{{previous_slug}}/{{nav_items[element].slug}}"
      >{{ nav_items[element].name }}</a>

      {% elif nav_items[element].children and nav_items[element].mimeType == "folder" %}
        {% if nav_items[element]["children"]["index"] %}
          <a class="p-side-navigation__link is-expandable u-no-margin--bottom" href="/{{previous_slug}}/{{nav_items[element].slug}}" {% if nav_items[element].active %}aria-current="page"{% endif %}>{{ nav_items[element].name }}</a>
        {% else %}
          <em class="p-side-navigation__text is-expandable u-no-margin--bottom">{{ nav_items[element].name }}</em>
        {% endif %}
        <button class="p-side-navigation__expand" {% if nav_items[element].expanded %}aria-expanded="true"{% endif %} aria-label="show submenu for "></button>
      {% endif %}
      {{ create_navigation(nav_items[element].children, previous_slug + "/" + nav_items[element].slug, expandable=nav_items[element].expanded, expanded=nav_items[element].expanded) }}
    </li>
    {% endfor %}
  </ul>
{% endmacro %}

<main id="main-content">
  <section class="p-strip">
    <div class="row">
      <aside class="col-3">
        <nav data-js="navigation" class="p-side-navigation" id="">
          <a href="#" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="">
            Toggle side navigation
          </a>
          <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls=""></div>
          <div class="p-side-navigation__drawer">
            <div class="p-side-navigation__drawer-header">
              <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="">
                Toggle side navigation
              </a>
            </div>
            {% for nav_group in navigation %}
              {% if navigation[nav_group].name and not navigation[nav_group].name|lower == "index" %}
                <ul class="p-side-navigation__list">
                  <li class="p-side-navigation__item">
                    {% if navigation[nav_group].mimeType == "document" %}
                      <a
                        class="p-side-navigation__link {% if navigation[nav_group].children %}is-expandable{% endif %}" {% if navigation[nav_group].active %}aria-current="page"{% endif%}
                        href="/{{previous_slug}}/{{navigation[nav_group].slug}}"
                      >{{ navigation[nav_group].name }}</a>
                    {% elif navigation[nav_group].children and navigation[nav_group].mimeType == "folder" %}
                      {% if navigation[nav_group]["children"]["index"] %}
                        <a class="p-side-navigation__link is-expandable u-no-margin--bottom" href="/{{navigation[nav_group].slug}}" {% if navigation[nav_group].active %}aria-current="page"{% endif %}>{{ navigation[nav_group].name }}</a>
                      {% else %}
                        <em class="p-side-navigation__text is-expandable u-no-margin--bottom">{{ navigation[nav_group].name }}</em>
                      {% endif %}
                      <button class="p-side-navigation__expand" {% if navigation[nav_group].expanded %}aria-expanded="true"{% endif %} aria-label="show submenu for "></button>
                    {% endif %}
                    {{ create_navigation(navigation[nav_group].children, navigation[nav_group].slug, expandable=True,
                    expanded=navigation[nav_group].expanded) }}
                  </li>
                </ul>
              {% elif navigation[nav_group].mimeType == "document" and navigation[nav_group].name|lower == "index" %}
                <div class="p-side-navigation__primary-heading">
                  <a class="p-side-navigation__link p-muted-heading" {% if navigation[nav_group].active %}aria-current="page"{% endif%} href="/"><strong>{{root_name}}</strong></a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      </aside>
      <main class="col-9">
        {% if document["breadcrumbs"]|length > 1 %}
          <nav class="p-breadcrumbs" aria-label="Breadcrumbs">
            <ol class="p-breadcrumbs__items">
              {% for page in document["breadcrumbs"] %}
                <li class="p-breadcrumbs__item">
                  {% if not loop.last %}
                    <a href="{{ page.path }}">{{ page.name }}</a>
                  {% else %}
                    {{ page.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          </nav>
        {% endif %}
        {{ html | safe }}
        <hr>
        <a href="https://docs.google.com/document/d/{{document.id}}">Contribute or make changes to this document&nbsp;&rsaquo;</a>
        </div>
      </main>
    </div>
  </section>
</main>

{% endblock %}
