@import "vanilla-framework";
$background-color_1: #EBEBEB;

.navigation__folder {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	cursor: pointer;
	background-color: $background-color_1;
	min-height: 32px;
}

.navigation__chevron {
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	height: 32px;
	justify-content: center;
	margin-right: 0rem;
	transition: background-color 0.2s ease;
	width: 32px;
}

.navigation__folder-tittle {
	font-size: 1rem;
	color: $color-x-dark;;
	overflow-wrap: break-word;
	margin: 0;
	cursor: pointer;
	padding-top: 0;
	display: block;
	text-align: left;
    word-wrap: break-word;
    white-space: normal;
    text-indent: 0;
}
.navigation__hidden-options {
	padding-left: 3.2rem;
	cursor: pointer;
}
.navigation__slected-hidden-option {
	cursor: pointer;
	font-size: 14px;
	color: $color-x-dark;;
	overflow-wrap: break-word;
	font-weight: bold;
}
.navigation__popup {
	position: absolute;
	width: auto;
	height: auto;
	border: 1px solid black;
	background-color: $background-color_1;
	z-index: 1002;
	overflow: auto;
}
.navigation__popup-tittle {
	display: flex;
	font-size: 14px;
	color: $color-x-dark;;
	overflow-wrap: break-word;
	align-items: center;
	justify-items: center;
	margin: 0;
	width: 230px;
	height: 32px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 10px;
	border-bottom: 0.5px solid lightgray;
	cursor: pointer;
}

