name: PR checks
on: pull_request

env:
  SECRET_KEY: local_development_fake_key

jobs:
  run-image:
    runs-on: ubuntu-latest
    timeout-minutes: 15


    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: DOCKER_BUILDKIT=1 docker build --tag library-canonical-com .

      - name: Run image
        run: |
          docker run --env SECRET_KEY=insecure_secret_key --network host library-canonical-com &
          sleep 1
          curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost

  run-dotrun:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dotrun
        run: sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install 

      - name: Build assets
        run: dotrun build

      - name: Run dotrun
        run: |
          dotrun & curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost:8051

  test-python:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Create secrets file 
        run:
          echo "${{ secrets.SECRETS_FILE }}" | base64 -d > .env.local

      - name: Build image
        run: DOCKER_BUILDKIT=1 docker build --tag library-canonical-com .

      - name: Start container
        run: |
          docker run --env-file .env.local --network host --name lib-c-c -d library-canonical-com

      - name: Install coverage
        run: |
          docker exec -i lib-c-c bash -c "apt-get update && apt-get install -y python3-pip && pip3 install coverage"
      
      - name: Run tests with coverage
        run: docker exec -i lib-c-c coverage run --source=. -m unittest discover tests

  lint-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install node dependencies
        run: yarn install --immutable

      - name: Install python dependencies
        run: |
          sudo apt update
          sudo apt install --only-upgrade python3-pip # install from package manager not pip
          sudo pip3 install flake8 black

      - name: Lint python
        run: yarn lint-python

  lint-scss:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint scss
        run: yarn lint-scss

  check-inclusive-naming:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check inclusive naming
        uses: canonical/inclusive-naming@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail-on-error: true
