<footer class="p-strip is-dark u-no-padding" style="position: fixed; bottom: 0;">
    <div class="u-fixed-width" style="display: flex; flex-flow: row; padding-top: 0.5rem; padding-bottom: 0.7rem;">
      <div class="p-notification--caution is-borderless u-no-margin" style="width: 80%;">
          <p class="u-no-margin">The library is still a work in progress.
            <a href="/the-library">Learn how to contribute to the library</a>.
          </p>
      </div>
      <a href="https://docs.google.com/document/d/{{document.id}}">
        <button class="p-button is-dark u-no-margin--bottom" style="position:fixed; right: 0; margin-right: 20px;">Suggest an edit</button>
      </a>
    </div>
    </div>
</footer>
<script src="/static/js/build/main.js"></script>
