<header id="navigation" class="p-navigation is-dark">
  <div class="l-full-width">
    <div class="l-start">
      <div class="p-navigation__banner u-no-padding--left">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__tagged-logo">
            <span class="p-navigation__logo-title">Canonical Reference Library</span>
          </div>
        </a>
      </div>
    </div>
    <div class="l-main">
      <div class="p-navigation__row u-fixed-width">
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" aria-hidden="true"></ul>
          <ul class="p-navigation__items global-nav"></ul>
        </nav>
      </div>
    </div>
  </div>
</header>