<header id="navigation" class="p-navigation is-dark">
  <div class="l-full-width">
    <div class="l-start">
      <div class="p-navigation__banner u-no-padding--left">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__tagged-logo">
            <span class="p-navigation__logo-title">Canonical Reference Library</span>
          </div>
        </a>
      </div>
    </div>
    <div class="l-main">
      <div class="p-navigation__row u-fixed-width">
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" aria-hidden="true"></ul>
          <ul class="p-navigation__items">
            <li class="p-navigation__item">
              <button href="#" class="js-search-button p-navigation__link--search-toggle">
                <span class="p-navigation__search-label">Search</span>
              </button>
            </li>
          </ul>
          <div class="p-search-and-filter">
            <button class="p-search-and-filter__clear"><i class="p-icon--close"></i></button>
            <div class="p-search-and-filter__search-container" aria-expanded="false" data-active="true" data-empty="false">
              <form class="p-search-and-filter__box" data-overflowing="false">
                <label class="u-off-screen" for="search">Search</label>
                <input autocomplete="off" class="p-search-and-filter__input" id="search" name="search" placeholder="Search and filter" type="search" value="">
                <button alt="search" class="u-off-screen" type="submit" aria-hidden="true" tabindex="-1">Search</button>
              </form>
            </div>
            <div class="p-search-and-filter__panel" aria-hidden="false">
              <div class="p-search-and-filter__search-results"></div>
            </div>
          </div>
          <ul class="p-navigation__items global-nav"></ul>
        </nav>
        <div class="p-navigation__search-overlay"></div>
      </div>
    </div>
  </div>
</header>

<script>
  function initNavigationSearch(navigationElement) {
    const navigation = navigationElement;
    const searchButtons = navigation.querySelectorAll(".js-search-button");
    const searchContainer = navigation.querySelector(".p-search-and-filter");
    const clearButton = navigation.querySelector(".p-search-and-filter__clear");
    const searchInput = navigation.querySelector(".p-search-and-filter__input");
    const resutlsPanel = navigation.querySelector(".p-search-and-filter__panel");
    const searchQuery = navigation.querySelector(".p-search-and-filter__search-query");

    searchButtons.forEach((searchButton) => {
      searchButton.addEventListener("click", toggleSearch);
    });
  
    clearButton.addEventListener("click", handleClearButton);

    searchInput.addEventListener("keyup", function (event) {
      if (searchInput.value === "") {
        clearButton.style.display = "none";
        resutlsPanel.style.display = "none";
      } else {
        clearButton.style.display = "block";
        resutlsPanel.style.display = "block";
      }
    });

    const overlay = navigation.querySelector(".p-navigation__search-overlay");
    if (overlay) {
      overlay.addEventListener("click", closeSearch);
    }
  
    function toggleSearch(e) {
      e.preventDefault();
  
      if (navigation.classList.contains("has-search-open")) {
        closeSearch();
      } else {
        closeSearch();
        openSearch(e);
      }
    }
  
    function openSearch(e) {
      e.preventDefault();
      var buttons = document.querySelectorAll(".js-search-button");
  
      buttons.forEach((searchButton) => {
        searchButton.setAttribute("aria-pressed", true);
      });
  
      navigation.classList.add("has-search-open");
      searchContainer.classList.add("is-active");
      searchInput.focus();
      document.addEventListener("keyup", keyPressHandler);
    }
  
    function handleClearButton() {
      searchInput.value = "";
      clearButton.style.display = "none";
      resutlsPanel.style.display = "none";
    }

    function closeSearch() {
      var buttons = document.querySelectorAll(".js-search-button");
  
      buttons.forEach((searchButton) => {
        searchButton.removeAttribute("aria-pressed");
      });
  
      navigation.classList.remove("has-search-open");
      searchContainer.classList.remove("is-active");
      handleClearButton();
      document.removeEventListener("keyup", keyPressHandler);
    }
  
    function keyPressHandler(e) {
      if (e.key === "Escape") {
        closeSearch();
      }
    }
  }
  
  var navigation = document.querySelector("#navigation");
  initNavigationSearch(navigation);
</script>
<script>
  const referenceDict = JSON.parse('{{ doc_reference_dict | tojson | safe }}');
  const searchInput = document.querySelector(".p-search-and-filter__input");
  const searchResults = document.querySelector(".p-search-and-filter__search-results");
  
  searchInput.addEventListener("input", function() {
    const query = searchInput.value;
    if (query.length >= 2) {
      fetch(`/search?q=${query}`)
        .then(results => results.json())
        .then(results => {
          searchResults.innerHTML = "";
          
          results.forEach((result) => {            
            let resultLink = document.createElement("a");
            let targetDoc = referenceDict[result.id];
            
            if (!targetDoc || !targetDoc.breadcrumbs) {
              return;
            } else if (targetDoc.name.toLowerCase() == "index") {
              let parentFolder = targetDoc.breadcrumbs.slice(-1)[0].name;
              resultLink.textContent = parentFolder;
            } else {
              resultLink.textContent = targetDoc.name;
            }
            
            resultLink.href = referenceDict[result.id].full_path;
            resultLink.classList.add("p-search-and-filter__search-result");
            searchResults.append(resultLink);
          });
        });
    } else {
      searchResults.innerHTML = "";
    }
  });  
</script>
