<div class="p-table-of-contents is-sticky">
  <div class="p-table-of-contents__section">
    {% if document["metadata"]["type"] %}
      <div class="u-sv2">
        {% with document_type = document["metadata"]["type"] %}
          {% include "_partial/_doc-type.html" %}
        {% endwith%}
      </div>
      <hr>
    {% endif %}
    {% if document["headings_map"] %}
      <nav class="p-table-of-contents__nav" aria-label="Table of contents">
        <h2 class="p-table-of-contents__header">Contents</h2>
        {% set ns = namespace(parent_active=False) %}
        <ul class="p-list u-no-margin--left">
        {% for heading in document["headings_map"] %}
          {% if heading.level == 2 %}
            {% if ns.parent_active %}
              </ul>
            </li>
            {% endif %}
            <li class="p-list__item u-no-padding">
              <a class="p-table-of-contents__link" href="#{{ heading.id }}">{{ heading.name }}</a>
              <ul class="p-list" style="margin-left: 0.5rem">
            {% set ns.parent_active = true %}
          {% else %}
            <li class="p-list__item u-no-padding"><a class="p-table-of-contents__link" href="#{{ heading.id }}">{{ heading.name }}</a></li>
          {% endif %}
        {% endfor %}
        {% if ns.parent_active %}
          </ul>
        </li>
        {% endif %}
        </ul>
        <hr>
      </nav>
    {% endif %}
    <p>
      <a href="https://docs.google.com/document/d/{{document["id"]}}">
        Suggest changes&nbsp;&rsaquo;
      </a>
    </p>

    {% if document["metadata"]["review_date"] %}
    <p>Requires review: {{document["metadata"]["review_date"]}}, by {{document["metadata"]["authors"] or "Unknown"}}</p>
    {% endif %}
  </div>
</div>