{% if document["headings_map"] %}
  <div class="p-table-of-contents u-no-padding">
    <div class="p-table-of-contents__section u-no-padding">
      <h2 class="p-table-of-contents__header">On this page</h2>
      <nav class="p-table-of-contents__nav" aria-label="Table of contents">
        {% set ns = namespace(parent_active=False) %}
        <ul class="p-table-of-contents__list" style="padding-bottom: 1rem;">
          {% for heading in document["headings_map"] %}
            {% if heading.level == 2 %}
              {% if ns.parent_active %}
              </ul>
            </li>
          {% endif %}
          <li class="p-table-of-contents__item u-no-padding">
            <a class="p-table-of-contents__link" href="#{{ heading.id }}">{{ heading.name }}</a>
            <ul class="p-table-of-contents__list">
              {% set ns.parent_active = true %}
            {% else %}
              <li class="p-table-of-contents__item u-no-padding">
                <a class="p-table-of-contents__link" href="#{{ heading.id }}">{{ heading.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if ns.parent_active %}
          </ul>
        </li>
      {% endif %}
    </ul>
    <hr />
  </nav>
</div>
</div>
{% endif %}
<p class="p-table-of-contents__item u-no-padding">
  <a href="https://docs.google.com/document/d/{{ document['id'] }}">Make/Suggest changes&nbsp;&rsaquo;</a>
</p>
{% if document["metadata"]["review_date"] %}
  <p class="p-table-of-contents__item u-no-padding" style="margin-bottom: 1rem;">
    Requires review: {{ document["metadata"]["review_date"] }}, by {{ document["metadata"]["authors"] or "Unknown" }}
  </p>
{% endif %}
{% if document["metadata"]["reviewer(s)"] %}
  {% for reviewer in document["metadata"]["reviewer(s)"] %}
    <p>
      Requires review: {{ reviewer["date"] }}, by {{ reviewer["name"] or "Unknown" }}
    </p>
  {% endfor %}
{% endif %}
<hr />
<a href="{{ '/clear-cache'+ document['full_path'] }}"> 
  <button class="p-button is-paper">Fetch latest changes</button>
</a>


